# =========================
# JAVA / MAVEN
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# MAVEN WRAPPER
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# INTELLIJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# ECLIPSE / NETBEANS
# =========================
.project
.classpath
.settings/
.nb-gradle/

# =========================
# LOGS
# =========================
*.log
logs/
target/logs/

# =========================
# ALLURE
# =========================
allure-results/
allure-report/
target/allure-results/
target/site/allure-maven-plugin/

# =========================
# TEST REPORTS
# =========================
test-output/
surefire-reports/
failsafe-reports/

# =========================
# SCREENSHOTS / EVIDENCES
# =========================
screenshots/
videos/

# =========================
# DATABASE
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENVIRONMENT
# =========================
.env
config.properties.local

# =========================
# TEMP FILES
# =========================
temp/
tmp/